@page "/Admin/Config"
@inherits ConfigBase
@rendermode InteractiveServer

<PageTitle>Configuración</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (IsLoading || CurrentUser == null)
        {
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        }
        else if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">@ErrorMessage</div>
        }
        else
        {
            <CascadingValue Value="@CurrentUser">
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem Text="Mis datos">
                        <MisDatos />
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Bitácora">
                        <BitacoraList />
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Configuración">
                        <ConfigList />
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Clientes">
                        <ClientesList />
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Usuarios">
                        <User TipoOrg="Vacio" LaOrgId="Vacio"/>
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Organizaciones">
                        <Org TipoOrgParameter="Admin"/>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
            </CascadingValue>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning">
            No tiene autorización para ver esta página.
            <a href="Account/Login">Iniciar Sesión</a>
        </div>
    </NotAuthorized>
</AuthorizeView> 


@code {
    //<User TipoOrg="Admin" LaOrgId="@(CurrentUser?.OrgId ?? string.Empty)"/>

    // 
    }
