.estado-inactivo {
    color: var(--rz-danger);
    font-weight: bold;
}

.estado-pendiente {
    color: var(--rz-warning);
    font-weight: bold;
}

.estado-activo {
    color: var(--rz-success);
    font-weight: bold;
}

.estado-especial {
    color: var(--rz-info);
    font-weight: bold;
} 